<module>
    <name>$name</name>
    <displayname>$displayName</displayname>
    <version>$version</version>
    <description>$description</description>
    $class
    <components>
        <web-app scopes="global,project">
            <name>$name WebApp</name>
            <web-xml>WEB-INF/web.xml</web-xml>
            <web-resources>
                <resource target="/">cantosaas/</resource>
                <resource name="com.canto:$description" version="$version" mode="isolated">lib/$description-$version.jar</resource>
                <resource name="com.canto:$description-cantosaas" version="$version" mode="isolated">cantosaas</resource>
                <resource name="com.canto:$description-WEB-INF" version="$version" mode="isolated">WEB-INF</resource>
                <resource name="com.espirit.ps.psci.module:generic-configuration" mode="isolated" version="2.8.0" minVersion="2.8.0">lib/generic-configuration-2.8.0.jar</resource>
                <resource name="com.espirit.ps.psci.module:magic-icons" version="2.1.0" minVersion="2.1.0">lib/magic-icons-2.1.0.jar</resource>
                <resource name="com.squareup.okhttp3:okhttp" version="4.1.0" minVersion="4.1.0">lib/okhttp-4.1.0.jar</resource>
                <resource name="com.squareup.moshi:moshi" version="1.8.0" minVersion="1.8.0">lib/moshi-1.8.0.jar</resource>
                <resource name="net.java.dev.designgridlayout:designgridlayout" version="1.11" minVersion="1.11">lib/designgridlayout-1.11.jar</resource>
                <resource name="com.squareup.okio:okio" version="2.2.2" minVersion="2.2.2">lib/okio-2.2.2.jar</resource>
                <resource name="org.jetbrains.kotlin:kotlin-stdlib" version="1.3.41" minVersion="1.3.41">lib/kotlin-stdlib-1.3.41.jar</resource>
                <resource name="org.jetbrains.kotlin:kotlin-stdlib-common" version="1.3.41" minVersion="1.3.41">lib/kotlin-stdlib-common-1.3.41.jar</resource>
                <resource name="org.jetbrains:annotations" version="13.0" minVersion="13.0">lib/annotations-13.0.jar</resource>
            </web-resources>
        </web-app>

        <public>
            <name>CantoSaasDAP</name>
            <displayName>CantoSaaS Connector DAP</displayName>
            <class>com.canto.firstspirit.integration.dap.CantoDAP</class>
        </public>

        <service>
            <name>CantoSaasServerService</name>
            <displayName>SaaS Connector Service</displayName>
            <class>com.canto.firstspirit.service.CantoSaasServerServiceImpl</class>
        </service>

        <project-app>
            <name>CantoSaasConfiguration</name>
            <displayName>Canto Project Configuration</displayName>
            <class>com.canto.firstspirit.config.CantoProjectApp</class>
            <configurable>com.canto.firstspirit.config.CantoProjectAppConfiguration</configurable>
        </project-app>
    </components>
    <resources>
        <resource name="com.canto:$description" version="$version" scope="server" mode="isolated">lib/$artifact</resource>
        <resource name="com.canto:$description-cantosaas" version="$version" scope="server" mode="isolated">cantosaas</resource>
        <resource name="com.espirit.ps.psci.module:generic-configuration" scope="server" mode="isolated" version="2.8.0" minVersion="2.8.0">lib/generic-configuration-2.8.0.jar</resource>
        <resource name="com.espirit.ps.psci.module:magic-icons" scope="server" mode="isolated" version="2.1.0" minVersion="2.1.0">lib/magic-icons-2.1.0.jar</resource>
        <resource name="com.squareup.okhttp3:okhttp" scope="server" mode="isolated" version="4.1.0" minVersion="4.1.0">lib/okhttp-4.1.0.jar</resource>
        <resource name="com.squareup.moshi:moshi" scope="server" mode="isolated" version="1.8.0" minVersion="1.8.0">lib/moshi-1.8.0.jar</resource>
        <resource name="net.java.dev.designgridlayout:designgridlayout" scope="server" mode="isolated" version="1.11" minVersion="1.11">lib/designgridlayout-1.11.jar</resource>
        <resource name="com.squareup.okio:okio" scope="server" mode="isolated" version="2.2.2" minVersion="2.2.2">lib/okio-2.2.2.jar</resource>
        <resource name="org.jetbrains.kotlin:kotlin-stdlib" scope="server" mode="isolated" version="1.3.41" minVersion="1.3.41">lib/kotlin-stdlib-1.3.41.jar</resource>
        <resource name="org.jetbrains.kotlin:kotlin-stdlib-common" scope="server" mode="isolated" version="1.3.41" minVersion="1.3.41">lib/kotlin-stdlib-common-1.3.41.jar</resource>
        <resource name="org.jetbrains:annotations" scope="server" mode="isolated" version="13.0" minVersion="13.0">lib/annotations-13.0.jar</resource>
    </resources>
</module>